* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   
 .float-left {
     float: left;
 }

 .float-right {
     float: right;
 }

 a:hover {color: crimson;}

 body {
    font-family: sans-serif;
    background-color: lavender;
    color: black;
}
header {
    padding: 20px;
    font-family:‘Franklin Gothic Medium’, ‘Arial Narrow’, Arial, sans-serif;
    background-color:lightslategray;
    color: #FFFFFF;
}
.navbar-wrapper {
    font-family: ‘Franklin Gothic Medium’, ‘Arial Narrow’, Arial, sans-serif;
}
nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    text-align: right;
}
nav a {
    color: #B9C6AE;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    color: #fff;
}




.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #E0D5F3;
    color: #7E7E7E;
}