* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   
   
   header {
    padding: 40px;

}

    nav { 
    padding: 14px 20px;
    background-color: rgb(215, 7, 243);
    justify-content: flex-end;
    }
   
    h1 {
       color: rgb(7, 215, 243);
       font-family:serif;
       font-size: 100px;
       text-align: center;
      }

    body {
     color: white;
     background-image: url("https://wallpapercave.com/wp/wp1812372.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     }
     
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
          text-align: center;
          font-size: 15px;
          font-family:serif;

        }

         h2 {
             text-align: center;
            
            }