* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   
 .float-left {
     float: left;
 }

 .float-right {
     float: right;
 }

 a:hover {color: crimson;}

 body {
    font-family: sans-serif;
    background-color: brown;
    color: black;
}
header {
    padding: 20px;
    font-family: sans-serif;
    background-color:wheat;
    color:black;
}
.navbar-wrapper {
    font-family: sans-serif;

   
}
nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    text-align: right;
}
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    color:orangered;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 6px solid black;
    border-radius: 10px;
}

article {
    box-sizing: border-box;
    width: 40%;
    border: 6px solid black;
    padding: 50px;
    text-align: center;
    margin:25px auto;
    background-color: wheat;
    border-radius: 10px;
}

.ea {
    font-size: 200%;
    font-family:sans-serif
    
}

.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color:wheat;
    color:black;
    font-family: sans-serif;
}


  /* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 6px solid black;
} */